page-home {


  .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -10px;
    margin-right: 0px;
    margin-left: 1px;
    margin-top: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .divInfoPopup{
    background: white;
    position: relative;
    z-index: 1;
    height: 40%;
    width: 40%;
    overflow-y: scroll;
    margin-left: 50%;
    top: 20%;
    opacity: 0.87;
    display: none;
  }

  .header-md::after{
    background-image: none;
    content: none;
    line-height: 17px;
  }

  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    /*  -ms-flex: 0 0 8.33333%;
      flex: 0 0 24%;
     -webkit-flex-grow: 0;
      width: 21%;
      max-width: 21%;*/


  }


  .col {
    text-align: center;
    padding: 0px;


  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 30px;
  }
  .calendar-header {
    background-color: #1a732d;
    color: #FFFFFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }


  #parent{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .child{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  }

  #container1{

    overflow: hidden;
  }

  #container2{
    overflow: auto;
  }
  ::-webkit-scrollbar {
    background: #ffffff;
  }

  // .calendar-col{
  //   min-width: 38.78px;
  //   max-width: 38.78px;
  //   border-left: groove;
  //   text-align: center;
  //   border-width: thin;

  //   min-height: 1cm;
  //   font-family: "Roboto", "Helvetica Neue", sans-serif;
  //   font-weight: bold;
  //   font-weight: 400;
  //   color: #000000;
  //   font-size: 14px;
  //   height: 50px;

  //   border-bottom: groove;
  //   border-width: thin;
  //   border-color:rgba(255, 255, 255, 0.3215686274509804);
  //   padding: 0px;
  //   padding-top: 5px;
  // }



  // .calendar-col-hab-noborder{
  //   min-width: 38.78px;
  //   max-width: 38.78px;
  //   border: none;
  //   text-align: center;

  //   min-height: 1cm;
  //   font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  //   color: #000000;
  //   font-size: 14px;
  //   height: 50px;

  //   border-bottom: groove;
  //   border-width: thin;
  //   border-color: rgba(255, 255, 255, 0.3215686274509804);
  //   padding: 0px;

  // }
  // .calendar-col-hab-month-noborder{
  //   min-width: 10.78px;
  //   max-width: 17.78px;
  //   // border-left: groove;
  //   text-align: center;
  //   //border-width: thin;
  //   font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  //   color: #000000;
  //   font-size: 14px;
  //   height: 50px;
  //   min-height: 1cm;
  //   border-bottom: groove;
  //   border-width: thin;
  //   border-color: rgba(255, 255, 255, 0.3215686274509804);
  //   padding: 0px;

  // }

  // .calendar-col-hab{
  //   min-width: 38.78px;
  //   max-width: 38.78px;
  //   border-right: groove;
  //   text-align: center;
  //   border-width: thin;

  //   min-height: 1cm;
  //   font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  //   color: #000000;
  //   font-size: 14px;
  //   height: 30px;

  //   //  border-bottom: groove;
  //   //  border-width: thin;
  //   border-color: rgba(255, 255, 255, 0.3215686274509804);
  //   padding: 0px;
  //   margin-top: 5px;
  // }
  // .calendar-col-hab-month{
  //   min-width: 10.78px;
  //   max-width: 17.78px;
  //   border-right: groove;
  //   text-align: center;
  //   border-width: thin;


  //   font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  //   color: #000000;
  //   font-size: 14px;
  //   height: 30px;
  //   min-height: 1cm;
  //   /* border-bottom: groove;
  //    border-width: thin;*/
  //   border-color: rgba(255, 255, 255, 0.3215686274509804);
  //   padding: 0px;
  //   margin-top: 5px;

  // }
  // .calendar-col-month{
  //   min-width: 10.78px;
  //   max-width: 17.78px;
  //   border-left: groove;
  //   text-align: center;
  //   border-width: thin;

  //   min-height: 1cm;
  //   font-family: "Roboto", "Helvetica Neue", sans-serif;
  //   font-weight: bold;
  //   font-weight: 400;
  //   color: #000000;
  //   font-size: 14px;
  //   height: 50px;

  //   border-bottom: groove;
  //   border-width: thin;
  //   border-color:rgba(255, 255, 255, 0.3215686274509804);
  //   padding: 0px;
  //   padding-top: 5px;
  // }

  /* .calendar-col-month{
     min-width: 10.78px;
     max-width: 17.78px;
     border: none;
     text-align: center;
     border-width: thin;

     min-height: 1cm;
     font-family: "Roboto", "Helvetica Neue", sans-serif;
     font-weight: bold;
     font-weight: 400;
     color: #000000;
     font-size: 14px;
     height: 50px;

     border-bottom: groove;
     border-width: thin;
     border-color:rgba(255, 255, 255, 0.3215686274509804);
     padding: 0px;
     //padding-top: 5px;
   }*/


  .fixed-col{
    text-align: left;
    min-height: 1cm;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    color: #5b5e5a;
    line-height: 120%;
    height: 50px;
    width: 100px;
    padding-left: 5px;
    border-bottom: groove;
    border-width: thin;
    border-color: rgba(255, 255, 255, 0.3215686274509804);

  }
  .fixed-col-noborder{

    text-align: center;
    min-height: 1cm;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    color: #5b5e5a;
    font-size: 14px;
    height: 50px;
    width: 100px;
    border-bottom: groove;
    border-width: thin;
    border-color: rgba(255, 255, 255, 0.3215686274509804);
  }

  .row1{
    padding: 1px;
    /* border-bottom: groove;
     border-width: thin;
     border-color: #EEEEEE;*/
    word-wrap: break-word; font-size:0.8em; font-weight:300;

  }
  .row2{
    padding: 1px;
    /* border-bottom: groove;
     border-width: thin;
     border-color: #EEEEEE;*/
    word-wrap: break-word;
    font-weight:300;
    min-width: 100px;
  }

  .row3{
    height: 37.78px;
  }

  .weeknames{
    font-size: 10px;
  }
  .weeknames-month{
    font-size: 7px;
  }
  .days{
    font-size: 17px;
    padding-top: 6px;

  }
  .days-month{
    font-size: 13px;
    padding-top: 6px;

  }
  .icon-md{
    color: #7b7a79;
  }
  .menu-icon{
    color:#4c4b4b
  }

  .room-names{
    font-size:12px;
    color: black;
    font-family: Arial;
    font-weight: 400;
  }

  .room-icon-name{
    font-size:10px;
    color:#757371;
  }
  .room-icon{
    font-size:13px;
    color: #9e9b9b;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
  }



  .finsemana-true{
    background: rgba(193, 187, 193, 0.29);

    //background: #a7a4a41c;
  }
  .finsemana-header-true{
    background: rgba(193, 187, 193, 0.29);
    border-top:solid;
    font-size: 15px;
    padding: 0px;
    padding-top: 2px;
    font-weight: bolder;
  }
  .finsemana-header-false{
    color: #615f5f;

  }

  .grid{
    padding: 0px;
  }

  .today-header-true{
    background: #09a60a;
    color: #ffffff;
    border: none;

  }

  .today-body-true{
    background: rgba(97, 255, 120, 0.47);

  }

  /*  javier */
  

  /*  javier fin */

  .search-results {
    height: 100px;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  p {
    display: inline;
  }

  .canvas_basic{
    min-height: 38px;
    min-width: 38.78px;
    max-width: 38.78px;
    padding-top: 1px;

  }

  .canvas_month {
    min-width: 10.78px;
    max-width: 17.78px;
    height: 38px;
    min-height: 1cm;
    padding-top: 1px;


  }

  .calendar-col-month{
    min-width: 10.78px;
    max-width: 17.78px;

  }


}
