<!--
  Generated template for the ClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar >
        
    
      </ion-navbar>



</ion-header>

<ion-content padding>

    
  <ion-card  style=" width:auto; margin:0px; margin-bottom: 10px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -12px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.12);"
  *ngFor="let evaluacionCultural of allevaluacionCultural; let i = index">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              
              <ion-col col-8  style="padding-top: 15px;">
                  <h2 *ngIf="evaluacionCultural.categoria == 1 ">Valor histórico</h2>
                  <h2 *ngIf="evaluacionCultural.categoria == 2 ">Valor urbanístico</h2>
                  <h2 *ngIf="evaluacionCultural.categoria == 3 ">Valor social</h2>
                  <h2 *ngIf="evaluacionCultural.categoria == 4 ">Afectación de la integridad</h2>
                  <h2 *ngIf="evaluacionCultural.categoria == 5 ">Nivel de protección</h2>
              </ion-col>
              <!--<div style="display: inline-block; float: right">-->
                <ion-buttons end>
                  <button ion-button icon-only style=" box-shadow: none; background: none;float: right; color:gray;border: none;padding-right: 10px;" (click)="eliminarEC(evaluacionCultural,i)">
                    <ion-icon md="md-trash" ></ion-icon>
                  </button>
                  <button (click)="viewEvaluacionCultural(evaluacionCultural)" ion-button icon-only style="    box-shadow: none;background: none;float: right; color:gray;border: none" >
                    <ion-icon md="md-eye"></ion-icon>
                  </button>
                </ion-buttons>
              <!-- <ion-buttons end>
                 <button (click)="cambiarStatusReserva(reserva.id_reservation)" ion-button icon-only style="    box-shadow: none;background: none;float: right; color:gray;border: none" >
                   <ion-icon md="md-alert"></ion-icon>
                 </button>
               </ion-buttons>-->
              <!--</div>-->
              <ion-col  style=" float: right">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
    </ion-card>
    
    <ion-fab bottom right >
      
      <button  ion-fab icon-only color="add" style="width: 40px; height: 40px;" (click)="crearEC()">
        <ion-icon name="add" style="color:white"></ion-icon>
      </button>
    </ion-fab>
</ion-content>

<!-- <ion-list>
  <ion-item>
    <ion-label color="primary">Inline Label</ion-label>
    <ion-input placeholder="Text Input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" fixed>Fixed Label</ion-label>
    <ion-input type="tel" placeholder="Tel Input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="Number Input with no label"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Stacked Label</ion-label>
    <ion-input type="email" placeholder="Email Input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Stacked Label</ion-label>
    <ion-input type="password" placeholder="Password Input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Clear Input" clearInput></ion-input>
  </ion-item>

  <ion-item floating>
    <ion-textarea placeholder="Enter a description"></ion-textarea>
  </ion-item>
</ion-list> -->

<!-- <form >
  <ion-list>

    <ion-item>
      <ion-label floating>Información Recogida</ion-label>
      <ion-input type="text" [(ngModel)]="evaluacionCultural.info_recogida" name="evaluacionCultural.info_recogida" >
      </ion-input>
    </ion-item>
    
    <ion-item>

      <ion-label floating>Donde</ion-label>
      <ion-select  [(ngModel)]="estadoTecnicoConstructivo.elem_construct" name="estadoTecnicoConstructivo.elem_construct" [selectOptions]="selectOptions" >
        <ion-option *ngFor="let ec of allElementoConstructivo" value="{{ec.id_ec}}" >{{ec.elem_construct}}</ion-option>
       
      </ion-select>
      
    </ion-item>

  
  </ion-list>
</form> -->