page-search {

  .header_tareas{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #a5a79d;
    font-weight: 400;
  }

  .grid{
    padding-top: 0px;
  }


  //.primary:    #488aff,
  //secondary:  #32db64,
  //danger:     #f53d3d,
  //light:      #f4f4f4,
  //dark:       #222,
  //cancelado: #84607f,
  //falta_pago: #ff9886,
  //deposito_pagado: #c2c33e,
  //

  .card-header-md{
    padding: 0px;
  }

  .card-content-md{
    padding: 0px;
  }


}
